:root { 
--lime_500_84:#bee33984; 
--light_green_200_00:#d8dbb300; 
--gray_400:#c4c4c4; 
--gray_500:#a4a4a4; 
--red_600:#e3432b; 
--red_A200:#ff3654; 
--amber_700:#ff9d00; 
--light_green_200:#d8dbb3; 
--red_500:#f14545; 
--green_400:#42c074; 
--gray_800_84:#3d3d3d84; 
--teal_300:#41a1c0; 
--white_A700_00:#ffffff00; 
--white_A700_63:#ffffff63; 
--black_900_00:#01060d00; 
--black_900:#01060d; 
--yellow_800:#eb9a29; 
--black_901:#000000; 
--purple_700:#911f7e; 
--indigo_900:#22296e; 
--deep_orange_A700_84:#cd1a0084; 
--gray_700_63:#69696963; 
--purple_A200:#e64de8; 
--white_A700:#ffffff; 
}